{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
    {% for message in app.Flashes("success") %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <h2>LIst of all posts</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                    <td>ID</td>
                    <td>Title</td>
                    <td>Action</td>
                    <td>Add</td>

            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td>
                        <a href="{{ path('post.show', {id: post.id}) }}">
                            {{ post.title }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path("post.delete", {id: post.id}) }}">
                            Delete
                        </a>
                    </td>
                    <td>
                        <a href="{{ path("post.create")}}">
                            Create
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
